// BASE
@use "./base/reset";

// ABSTRACTS
@use "./abstracts/colors";
@use "./abstracts/mixins";



body {
    overflow-x: hidden;
  
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    

    @include mixins.laptop {
       
        display: grid;
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: 230px 360px 200px;
    }
}


.logo {
    width: 100px;
    margin: 27.5px;

    @include mixins.laptop {
        grid-column: 2 / 3;
        width: 145px;
        margin: mixins.$margin-xlarge 0 0 0;
    }

}


.hero-image {
    width: 100%;
    
    
    margin-bottom: mixins.$margin-large;

    @include mixins.laptop {
       
        grid-column: 3 / 4;
    }
}


.main-content {
    max-width: 325px;
    margin: 0 auto;
    text-align: center;

    @include mixins.laptop {
        grid-column: 2 / 3;
        margin: 0;
        text-align: left;
        max-width: 400px;
    }

   
    .heading {

        font-size: 40px;
        letter-spacing: 10px;
        line-height: 1.05;
        text-transform: uppercase;
        color: colors.$dark-grayish-red;
        margin-bottom: mixins.$margin-small;

        

        @include mixins.laptop {
           font-size: 50px;
        }

        &__span {
            color: colors.$desaturated-red;
            font-weight: 100;
        }
    }


    .message {
        color: colors.$desaturated-red;
        line-height: 1.8;
        margin-bottom: mixins.$margin-medium;
    }


    form {

        .email-input {
            font-family: inherit;
            width: 100%;
            height: 50px;
            border-radius: 50px;
            border: 1px solid #ddd;
            color: colors.$desaturated-red;
            padding-left: 25px;
        }
           
        button {
            width: 70px;
            height: 50px;
            border: none;
            border-radius: 50px;
            background: colors.$button;
            position: relative;
            top: -50px;
            right: -130px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            transition: ease-in .2s all;

            @include mixins.laptop {
                width: 100px;
                right: -300px;
             }

            &:hover {
                background: colors.$button-hover;
                box-shadow:  0 5px 10px 3px colors.$desaturated-red;
            }
            
           .error {
               display: none;
               position: absolute;
               left: -30px;
           }
        }
    }
}


footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-bottom: 3px;

    @include mixins.laptop {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        align-self: end;
        justify-self: center;
        font-size: 16px;
    }
    
    .attribution {
        color: colors.$dark-grayish-red;

       a {
           color: colors.$soft-red;
       }
    }
}



